[submodule "gsdmm-rust"]
	path = gsdmm-rust
	url = https://github.com/ChristopherLiew/gsdmm-rust.git
[submodule "Diebold-Mariano-Test"]
	path = /forecasting/time_series_tests/Diebold-Mariano-Test
	url = https://github.com/johntwk/Diebold-Mariano-Test.git
